@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace, 'Noto Color Emoji';
}

@layer base {
  body {
    @apply text-black bg-white dark:text-white dark:bg-neutral-900;
  }
}

.emoji-styles {
  z-index: 20 !important;
}